body {
  margin: 0;
  height: 100%;
}
#main {
  position: relative;
  display: inline-block;
  background: grey;
  width: 98%;
  margin: 1%;
  border-radius: 5px;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
}
#title p {
}
